.movie-container {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-container select {
  background-color: #DCDCDC;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.movie-container h3 {
  display: inline-block;
  margin: 5px 0;
  color: #808080;
  text-align: center;
}
