.seat {
  display: inline-block;
  color: white;
  background-color: black;
  height: 12px;
  width: 15px;
  margin: 3px;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.seat.reserve {
  background-color: #FF7F50;
}
